@import url("https://fonts.googleapis.com/css2?family=Candal&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: sans-serif, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif; */
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  text-align: center;
  text-align: center;
}
/* footerr section css */
.list-item {
  transition: background-color 0.3s, color 0.3s;
}

.list-item:hover {
  background-color: black;
  color: white; /* This will change the icon color to white */
}

.list-item:hover .icon {
  color: white;
}
.SmallerFilter {
  right: 0;
  transform: translateX(150%);
}

.SmallerFilter.translate-x-0 {
  transform: translateX(-40%);
}
